@import 'tailwindcss';

/* tailwindcss */

#num1::-webkit-inner-spin-button,
#num1::-webkit-outer-spin-button {
  appearance: none;
}

img {
  user-select: none;
}

#move {
  animation: movee 2s linear infinite;
}

@keyframes movee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}